@import 'partials/variables.scss';
@import 'partials/mixins.scss';
@import 'partials/modules.scss';

body {
    background-color: $color-brand;
}

:root{
    font-size: 1rem;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}
img {
    width: 100%;
    height: 100%; 
}

.two__figcaption {
    color: $color-font;
}

.three__title {
    grid-row: 1/2;
    width: 80%;
    background-color:darken($color-brand, 25%);
    @include flex();
    margin-top: $space;
    margin-bottom: $space;
    font-size: calc(#{$font-size} / 2); 
    word-spacing: 2px;
    text-decoration: underline;
    color: $color-section;
}

.three__figure {
    margin: 0;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-columns: 0.2fr 0.6fr 1.2fr;
}

.three__figure picture {
    position: relative;
     grid-column: 2/4;
     grid-row: 2/3;
}

.three__figure__background {
    grid-row: 1/4;
    grid-column: 3/4;
    background-color: darken($color-brand, 25%);
 }

 .mainwrapper__section.four > picture {
    font-size: calc(#{$font-size} / 2);
}

 .four__image {
     grid-row: 1 / 2; 
     height: 100%;
     max-width: 90%;
     margin: $space;
}

.four__figcaption {
     grid-row: 2/3;
     @include flex();
     flex-direction: column;
     margin-top: $space;
     margin-bottom: $space;
     font-size: calc(#{$font-size} / 2);
     font-family: 'Viaoda Libre', cursive;
}

.four__figcaption {
    color: $color-font;
}

 .four__figcaption__blockquote {
    column-count: 1;
     column-gap: 20px;
        column-rule: 1px solid #baffc9;
    text-align: justify;
   
}

@media(max-width: $lg){

    .mainwrapper__section.four picture {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .mainwrapper__section.four div {
        display: none;
    }

    .four__image {
        max-width: 100%;
        height: 100%;
        margin: 0;
    }

    
    
   
}

@media(min-width: $lg){
    .four__figcaption.border {
      border: 0;
    }
    .four__figcaption blockquote {
        color: $color-contrast;
    }

    .four__figcaption span {
        color: $color-contrast;
    }
    
}



 .four__figcaption span {
     align-self:   flex-end;
     font-size: calc(#{$font-size} / 2);
}

 .four__title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background-color: darken($color-brand, 25%);
    @include flex();
    color: $color-section;
    padding: calc(#{$font-size} / 2);
    font-size: calc(#{$font-size} / 2);
    line-height: calc(#{$font-size} / 2);
 }

 .mainwrapper__section.five > picture {
    // margin-top: calc(12vw + 5px);
    // margin-bottom: calc(6vw + 5px);
    width: 100%;
    // max-height: calc(50% + 2vw);
}



// @media(max-width: $lg) {
//     .mainwrapper__section.five > picture {
//         max-height: calc(40% + 2vw);
//         }
//     }

@media(max-width: $md){
        .mainwrapper__section.five > picture {
            display: none;
        }
        .five__figcaption__blockquote {
            color: $color-font;
        }
        .mainwrapper__section.five {
            background-image: url('IMG/love4.gif');
            background-repeat: no-repeat;
            background-size: cover;
        }
        span {
            color: $color-font;
        }
    }

    .five__figcaption {
        @include border();
        position: absolute;
        right: calc(1vw + 5px); 
        bottom: calc(1vw + 5px); 
        left: calc(1vw + 5px); 
        top: calc(1vw + 5px);
    }

    .five__titlecontainer {
        grid-row: 1 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .five__title {
        width: 70%;
        background-color: $color-brand;
        display: flex;
        justify-content:space-around;
        align-items:center;
        padding: $padding;
    }

    .five__title2 {
        font-size: $font-size-small;
        padding: $padding;
        font-family: Arial, Helvetica, sans-serif;
    }

    .five__blockquotecontainer{
        grid-row: 3 / 4;
    }

    .five__figcaption__blockquote{
    font-family: 'Viaoda Libre', cursive;
    font-size: calc(1vw + 1px);
    text-align: center;
    margin-top: calc(0.5vw + 5px);
    margin-left: calc(1vw + 5px);
    margin-right: calc(1vw + 5px); 
    }

    .socialmedia__section5__absolute {
        background-color: var(--dark-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1.5vw + 2px);
        line-height: calc(2vw + 2px);
        padding: calc(0.5vw + 5px);
        position: absolute;
        top: calc(2vw + 5px);
        left: calc(2vw + 5px);
        right: calc(2vw + 5px);
        width: auto;
    }

    .socialmedia__section5__figcaption__blockquote {
        font-family: 'Viaoda Libre', cursive;
        font-size: calc(1vw + 1px);
        text-align: end;
        margin-top: calc(0.5vw + 5px);
        margin-left: calc(1vw + 5px);
        margin-right: calc(1vw + 5px); 
    }

    .mainwrapper__section.six  figure:nth-child(1)  img {
        width: 70%;
        height: 70%;
    }

    .mainwrapper__section.six  figure:nth-child(2)  img {
        width: 70%;
        height: 70%;
    }
    .mainwrapper__section.six > figure {
        border: 5px solid;
        border-color: $color-brand;
        position: relative;
    }

    .mainwrapper__section.six >  figure:nth-child(1)  {
        border-top: none;
        border-right: none;
        display: flex;
        justify-content: flex-end;
        height: 45%;
        margin-left: calc(2% + 2px);
    }

    .mainwrapper__section.six  figure:nth-child(2) {
        border-left: none;
        border-top: 0;
        height: 50%;
        margin-right: calc(2% + 2px);
        margin-top: -2% ;
        
    }

    .six__label.bottom {
        
            background-color: $color-section;
            border: 2px solid;
            border-color: $color-brand;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: calc(1.5vw + 2px);
            padding: calc(0.25vw + 5px);
            position: absolute;
            left: 45%;
            bottom: calc(-0.95vw - 13px);
        
    }

    .six__label.hidden {
        background-color: $color-section;
        position: absolute;
        right: 0;
        bottom: -5px;
        height: 10%;
        width: calc(2% + 2px);
    }

    .mainwrapper__section.six > figure:nth-child(2)  {
        border-left: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
       
           
    
 
