body {
    background-color: $color-brand;
}

:root{
    font-size: 1rem;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}
img {
    width: 100%;
    height: 100%; 
}

.two__figcaption {
    color: $color-font;
}

.three__title {
    grid-row: 1/2;
    width: 80%;
    background-color:darken($color-brand, 25%);
    @include flex();
    margin-top: $space;
    margin-bottom: $space;
    font-size: calc(#{$font-size} / 2); 
    word-spacing: 2px;
    text-decoration: underline;
    color: $color-section;
}

.three__figure {
    margin: 0;
    display: grid;
    grid-template-rows: 0.2fr 1fr 0.2fr;
    grid-template-columns: 0.2fr 0.6fr 1.2fr;
}

.three__figure picture {
    position: relative;
     grid-column: 2/4;
     grid-row: 2/3;
}

.three__figure__background {
    grid-row: 1/4;
    grid-column: 3/4;
    background-color: darken($color-brand, 25%);
 }

 .mainwrapper__section.four > picture {
    font-size: calc(#{$font-size} / 2);
}

 .four__image {
     grid-row: 1 / 2; 
     height: 100%;
     max-width: 90%;
     margin: $space;
}

.four__figcaption {
     grid-row: 2/3;
     @include flex();
     flex-direction: column;
     margin-top: $space;
     margin-bottom: $space;
     font-size: calc(#{$font-size} / 2);
     font-family: 'Viaoda Libre', cursive;
}

.four__figcaption {
    color: $color-font;
}

 .four__figcaption__blockquote {
    column-count: 1;
     column-gap: 20px;
        column-rule: 1px solid #baffc9;
    text-align: justify;
   
}

@media(max-width: $lg){

    .mainwrapper__section.four picture {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .mainwrapper__section.four div {
        display: none;
    }

    .four__image {
        max-width: 100%;
        height: 100%;
        margin: 0;
    }

    .border {

    }

    
   
}

@media(min-width: $lg){
    .four__figcaption.border {
      border: 0;
    }
    .four__figcaption blockquote {
        color: $color-contrast;
    }

    .four__figcaption span {
        color: $color-contrast;
    }
    
}



 .four__figcaption span {
     align-self:   flex-end;
     font-size: calc(#{$font-size} / 2);
}

 .four__title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    background-color: darken($color-brand, 25%);
    @include flex();
    color: $color-section;
    padding: calc(#{$font-size} / 2);
    font-size: calc(#{$font-size} / 2);
    line-height: calc(#{$font-size} / 2);
 }

 .mainwrapper__section.five > img {
    margin-top: calc(12vw + 5px);
    margin-bottom: calc(6vw + 5px);
    width: 100%;
    max-height: calc(50% + 2vw);
}

@media(max-width:800px) {
    .mainwrapper__section.five > img {
        max-height: calc(40% + 2vw);
        }
    }

@media(max-width:600px){
        .mainwrapper__section.five > img {
            display: none;
        }
        .five__figcaption__blockquote {
            color: $color-font;
        }
        .mainwrapper__section.five {
            background-image: url('IMG/love4.gif');
            background-repeat: no-repeat;
            background-size: cover;
        }
        span {
            color: $color-font;
        }
    }
       
           
    
 
