// main {
//     display: flex;
//     flex-direction: column;
//     gap: 1em;
//     margin: 0 auto;
// }

main > section {
    min-height: 400px;
}


@media(min-width:768px) {
    main {
        display: flex;
        flex-wrap: wrap;
    }
}








.mainwrapper__section.one {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 0fr;
    height: 100%;

}


.mainwrapper__section.three {

    display: grid;
    grid-template-rows: 1fr 3fr;
    grid-template-columns: 1fr;
}

.mainwrapper__section.four {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0fr;
}

.mainwrapper__section.five {

    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 0fr;
}

.mainwrapper__section.six {

    display: flex;
    flex-direction: column;
}



.mainwrapper__section.four figure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70% 30%;
    width: 100%;
    height: 100%;
}





.mainwrapper__section.six>figure {
    margin: 0;
}

.mainwrapper__section.seven {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 70% 10%;
}

.mainwrapper__section.eight {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80% 20%;
    gap: 0;
}

.mainwrapper__section.aside {
    display: grid;
    grid-template-columns: 0.5fr 3fr 0.5fr;
    grid-template-rows: minmax(200px);
}