.mainwrapper__section {
    background-color: $color-section;
}

.mainwrapper__section {
    position: relative;
}

.one__absolute {
    padding: $padding;
    font-size: $font-size;
    line-height: $line-height;
    border: 2px solid $color-contrast;
    background-color: $color-section;
    position: absolute;
    @include absolutecenter();
    @include flex();
}

.figcaption {
    @include flexblockquote();
    margin: 0;
}

.border {
    @include border-position();
    @include border();
}

.blockquote {
    color: $color-brand;
    margin-right: $space;
    margin-left: $space;
    margin-bottom: $space;
    font-size: $font-size / 2;
    font-family: 'Viaoda Libre', cursive;
}

span {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: $space;
    margin-left: $space;
    margin-bottom: $space;
    font-size: calc(#{$font-size} / 2);
    font-family: 'Italianno', cursive;
}


