$color-brand: darkgrey;
$color-lightbrand: lightgrey;
$color-section: aliceblue;
$color-contrast: black;
$color-font: yellow;

$padding: calc(1vw + 5px);
$font-size:calc(3vw + 2px);
$font-size-small: calc(2vw + 2px);
$line-height: calc(4vw + 2px);
$space: calc(1vw + 5px);

$md: 768px;
$lg: 992px;

