$color-brand: lightgray;
$color-section: aliceblue;
$color-contrast: black;

$padding: calc(1vw + 5px);
$font-size:calc(3vw + 2px);
$line-height: calc(4vw + 2px);

$border-right: calc(1vw + 5px);
$border-left :  calc(1vw + 5px);
$border-top:  calc(1vw + 5px);
$border-bottom:  calc(1vw + 5px);
